{% extends 'main.html' %}

{% block content %}


<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 1fr;
        margin-top: 100px;
        margin-left: 40px;
    }
    .room-container{
        margin-right: 150px;
    }
</style>






<div class="home-container">
<!-- sidebar - list of all topics -->
    <div>
        <h3>BROWSE TOPICS</h3>
        <a href="{% url 'home' %}"><h6>ALL</h6></a>
        {% for topic in topics %}
            <a href="{% url 'home' %}?q={{topic.name}}"><li>{{topic.name}}</li></a>
        {% endfor %}
    </div>

<!-- Rooms -->
    <div class="room-container">
        <h3>HOME</h3>
        <h4 style="margin-top: 20px;"><a href="{% url 'createRoom' %}">Create Room</a></h4><br>

        <!--  inside the line-- restricting other users to edit and delete -->
        {% for room in rooms %}
            <div>
                <h6>@{{room.host.username}} ||<a href="{% url 'room' room.id %}"> {{room.id}}. {{room.name}}</a> | {% if request.user == room.host %} <a href="{% url 'updateRoom' room.id %}"> Update </a> | <a href="{% url 'deleteRoom' room.id %}"> Delete </a>  {% endif %} </h6> 
                <h6> </h6>
                <span><strong>Topic:</strong> {{room.topic.name}}</span>
                <p><strong>Description: </strong>{{room.description}}</p>
            </div> <hr>     
        {% endfor %}
    </div>

<!-- Search Bar -->
<form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder="Search here.." />
</form>

<!-- login button -->
<h1>
    <a href="{% url 'loginPage' %}"><h6>LOGIN</h6></a>
    <a href="{% url 'logoutUser' %}"><h6>LOGOUT</h6></a>
</h1>





</div>
  
{% endblock %}